<form class="memo" method="post" action="?">
  <input class="memoTitle" type="text" name="title" id="title" value="<%= h(@title) %>">
  <textarea class="memoBody" name="body" id="body"><%= h(@body) %></textarea>
  <nav>
    <input type="hidden" name="_method" value="patch">
    <button formaction="/memos/<%= @id %>/edit">変更</button>
  </nav>
</form>
