<button type="button" onclick="location.href='/memos/<%= @id %>?q=edit'">変更</button>
<input type="hidden" name="_method" value="delete">
<button onclick="if(!confirm('削除します。よろしいですか？')){return false}" formaction="/memos/<%= @id %>">削除</button>
